.about {
  position: relative;
}

.about__content {
  display: flex;
  flex-direction: column;
  column-gap: 30px;
  align-items: flex-start;
  width: 80%;
  padding-left: 30px;
}

.about__title {
  font-size: 28px;
  line-height: 32px;
  color: rgb(22, 21, 21);
  align-self: flex-start;
}

.about__text {
  font-size: 22px;
  line-height: 26px;
  color: rgb(22, 21, 21);
  text-align: justify;
}

.about__image{
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: -1;
  opacity: 0.5;
  width: 60vw;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .about__content {
    display: flex;
    flex-direction: column;
    column-gap: 20px;
    align-items: flex-start;
    width: 90%;
    padding-left: 30px;
  } 
}